/*

Kirby Starterkit

Author: Bastian Allgeier / Sascha Lack
URL:    http://getkirby.com
Email:  support@getkirby.com

*/

/* Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}


/* Pix
-------------------------------------------------- */
img {
  display: block;
  max-width: 100%;
}

iframe{
  margin-bottom: 2.5rem;
}

/* Links
-------------------------------------------------- */
a {
  color: $blue;
  text-decoration: none;
  transition: color .3s, background .3s, border .3s;
}
a:hover {
  color: $grey;
}


/* Clearfix
-------------------------------------------------- */
.cf:after {
  content: "";
  display: block;
  clear: both;
}


/* Site
-------------------------------------------------- */
html {
  height: 100%;
  @include Swiss-Light;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-size: 1.25rem;
  line-height: 1.33;
  padding: 0 0 1em 0;
  background: $blue;
  color: $grey;
  min-height: 100%;
}
.container{
  min-height: calc(100vh - 1em);
  margin: 0 auto;
  padding: 3em;
  background: $white;
  @media screen and (max-width: $break-mid) {
      padding: 1.5em;
  }
}

/* Header
-------------------------------------------------- */
.header {
  margin-bottom: 1.5em;
  margin-right: auto;
  margin-left: auto;
  max-width: 1168px;
  position: relative;
}
.logo {
  float: right;
  display: block;
  margin-bottom: 1.5em;
}
.logo img {
  width: 175px;
  @media screen and (max-width: $break-mid) {
    width: 130px;
  }
}

/* Columns
-------------------------------------------------- */
.col-3{
  float:left;
  width: 33%;
  padding-left: 3%;
  @media screen and (max-width: $break-mid) {
    float: none;
    padding-left: 0;
    width: 100%;
  }
  &:first-of-type{
    padding-left: 0;
  }
}

/* Headings
-------------------------------------------------- */
h1, h2, h3, h4, h5{
  color: $grey;
}
h1 {
  @include Swiss-Heavy;
  font-size: 80px;
  letter-spacing: -3px;
  line-height: 1.25em;
  margin-bottom: .5rem;
  @media screen and (max-width: $break-mid) {
    font-size: 50px;
    letter-spacing: -2px;
  }
}
h2 {
  @include Swiss-Heavy;
  font-size: 2.8125rem;
  line-height: 1.25em;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.4em;
  line-height: 1.5em;
  margin-bottom: .5em;
}
h4 {
  @include Swiss-Heavy;
  font-size: 1.125em;
  line-height: 1.5em;
  margin-bottom: .5em;
}
h1 a, h2 a, h3 a, h4 a {
  color: inherit;
  border: 0 !important;
}
.page-title{
  @include Swiss-Heavy;
  font-size: 80px;
  letter-spacing: -3px;
  line-height: 1.333;
  @media screen and (max-width: $break-mid) {
    font-size: 50px;
    letter-spacing: -2px;
  }
}


/* Main
-------------------------------------------------- */
.main {
  max-width: 1168px;
  margin: 0 auto;
  padding-bottom: 1.5em;
}
.main hr {
  margin: 3em 0;
  height: 2px;
  background: #ddd;
}
.main p,
.main ul,
.main ol{

}
.main p,
.main figure,
.main ul,
.main ol {
  margin-bottom: 1.5em;
}
.main a:hover {
  border-color: #222;
  color: $blue;
}

/* Text blocks */
.text ul,
.text ol {
  margin-left: 1em;
}

/* Project meta
-------------------------------------------------- */
.meta {
  margin-bottom: 1.5em;
}
.meta li {
  float: left;
  list-style: none;
  margin-right: 2em;
  color: red;
}
.meta li b {
  font-weight: 400;
  color: #000;
  padding-right: .25em;
}

/* Next/Prev nav
-------------------------------------------------- */
.nextprev {
  padding: 1em 0;
}
.nextprev a {
  border: 0;
}
.nextprev .prev {
  float: left;
}
.nextprev .next {
  float: right;
}


/* Footer
-------------------------------------------------- */
.footer {
  max-width: 1168px;
  clear: both;
  margin: 0 auto;
  padding: 1em 0 0;
  font-size: .8em;
}
.copyright {
  float: left;
}
.colophon {
  float: right;
}
.colophon a b {
  color: red;
  padding-left: .25em;
}
