.social-networks {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  clear: both;
  img {
    display: inline-block;
    @media screen and (max-width: $break-mid) {
      width: 35px;
      height: auto;
    }
  }
}

.connect-nav {
  margin-bottom: 2.5rem;

  @media screen and (min-width: $break-mid +1) {
    display: flex;
  }

  .address-2 {
    @media screen and (min-width: $break-mid +1) {
      margin-top: 44px;
    }
  }
}
