.home{
  figure{
    position: relative;
  }
  figcaption{
    position: absolute;
    top: 41%;
    width: 100%;
    padding: 0 20% 0 5%;
    margin: 0 auto;
    color: #fff;
    font-size: 52px;
    font-weight: bold;
    line-height: 1.2;
  }
  h2{
    font-size: 5em;
    font-weight: bold;
  }
}
