.home {
  .homepage--new {
    font-size: 1.625rem;
  }
  figure {
    position: relative;
  }
  figcaption {
    position: absolute;
    top: 41%;
    width: 100%;
    padding: 0 20% 0 5%;
    margin: 0 auto;
    color: #fff;
    font-size: 52px;
    @include Swiss-Heavy;
    line-height: 1.2;
    @media screen and (max-width: $break-mid) {
      position: static;
      width: 100%;
      padding: 0;
      color: inherit;
      font-size: inherit;
      margin-top: 1.5rem;
      margin-bottom: 2.5rem;
      font-size: .625em;
      @include Swiss-Heavy;
      color: $lighter-grey;
    }
  }
  h2 {
    font-size: 80px;
    letter-spacing: -3px;
    @media screen and (max-width: $break-mid) {
      font-size: 50px;
      letter-spacing: -2px;
    }
  }
  @media screen and (max-width: $break-mid) {
    ul.teaser {
      li {
        margin-bottom: 0;
        border-bottom: 1px solid;
        &:last-of-type {
          border-bottom: 0;
        }
      }
      a:link, a:visited {
        @include Swiss-Heavy;
        color: $lighter-grey;
        font-size: 24px;
        display: block;
        padding: 8px 0;
        line-height: 24px;
      }
      a:hover {
        color: $blue;
      }
      img {
        display: none;
      }
    }
  }
  @media screen and (min-width: $break-small) and (max-width: $break-mid) {
  ul.teaser li:nth-of-type(5) {
      border-bottom: 0;
    }
  }

  @media screen and (max-width: $break-small) {
    ul.teaser li {
      float: none;
      width: 100%;
    }
  }
}
