.project {
  h1 {
    @include Swiss-Heavy;
    font-size: 34px;
    letter-spacing: -.6px;
    line-height: 1.1;
    margin-bottom: 0;
  }

  h2 {
    @include Swiss-Light;
    font-size: 28px;
    letter-spacing: -.5px;
    line-height: 1.1;
    margin-bottom: 1.25em;
  }

  figure img {
    margin: 0 auto;
  }

  &__video {
    height: auto;
    width: 100%;
  }
}
