.studio__process {
  font-size: $font-size--large;
}
.studio__founder {
  font-size: $font-size--large;
  a {
    font-size: $font-size--small;
  }
}
.studio__clients {
  font-size: $font-size--large;
}

.studio__clients--left {
  width: 50%;
  float: left;
  padding-right: 10px;
  p {
    margin-bottom: 0;
  }
  @media screen and (max-width: $break-mid) {
    width: 100%;
  }
}

.studio__clients--right {
  width: 50%;
  float: left;
}

.studio__founder-img {
  float:left;
  padding: 0 15px 0 0;
  max-width: 240px;
  margin-bottom: 0!important;
  @media screen and (max-width: $break-mid) {
    width: 50%;
    max-width: 100%;

  }
  @media screen and (max-width: $break-small) {
    width: 100%;
    max-width: 240px;
    padding-bottom: 1.5em;
  }
}
.studio__founder-img {
  @media screen and (max-width: $break-small) {
    float: none;
    padding-right: 0;
  }
}

.studio__founder-linkedin {

}
