.work-nav{
  list-style: none;
  @include Swiss-Medium;
  @include clearfix;
  color: $lighterGrey;
  a:link, a:visited{
    color: inherit;
  }
  a:hover{
    color: $grey;
  }
  li{
    float: left;
    margin-right: 10px;
    font-weight: bold;
    &:after{
      content: "/";
      margin-left: 10px;
    }
    &:last-of-type{
      margin-right: 0;
      &:after{
        display: none;
      }
    }
  }
}
