//// Global styles
$baseWidth  :    1168;

//// Break points
$breakSmall :     40em;
$breakMid   :     768px;

//// Colors
$white      :     #fff;
$lighterGrey:     #bcbec0;
$lightGrey  :     #939598;
$grey       :     #828282;
$blue       :     #00ADEF;


//// Imports of partials
@import "mixins";
@import "fonts";
@import "base";
@import "home";
@import "connect";
@import "work";
@import "project";
