//// Global styles
$base-width      :     1168;

//// Break points
$break-small     :     40em;
$break-mid       :     768px;

//// Colors
$white           :     #fff;
$lighter-grey    :     #bcbec0;
$light-grey      :     #939598;
$grey            :     #828282;
$blue            :     #00ADEF;

//// Font Sizes
$font-size--small :    1.25rem;
$font-size--large :    1.625rem;

//// Imports of partials
@import "mixins";
@import "fonts";
@import "base";
@import "home";
@import "connect";
@import "work";
@import "project";
@import "studio";
@import "new";