//// Global styles
$baseWidth  :    1168;

//// Break points
$smallBreak :     40em;
$midBreak   :     768px;

//// Colors
$white      :     #fff;
$lighterGrey:     #bcbec0;
$lightGrey  :     #939598;
$grey       :     #6D6E71;
$midGrey    :     #58595B;
$blue       :     #00ADEF;


//// Imports of partials
@import "mixins";
@import "fonts";
@import "base";
@import "home";
@import "connect";
@import "work";
@import "project";
