/*
Error: File to import not found or unreadable: new.
        on line 24 of style.scss

19: @import "base";
20: @import "home";
21: @import "connect";
22: @import "work";
23: @import "project";
24: @import "new";

Backtrace:
style.scss:24
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/tree/import_node.rb:45:in `import'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `each'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/Users/deanpogni/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.19/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: new.\A         on line 24 of style.scss\A \A 19: @import \"base\";\A 20: @import \"home\";\A 21: @import \"connect\";\A 22: @import \"work\";\A 23: @import \"project\";\A 24: @import \"new\";"; }
